@page
@model RazorBuggetoEx.Pages.Admin.Products.IndexModel
@{
}


<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.products)
            {
                <tr>
                    <th>@item.Id</th>
                    <th>@item.Name</th>
                    <th>@item.Price</th>
                    <th>@item.Description</th>
                    <th>
                        <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger">حذف</a>
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-info">ویرایش</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>